@charset "UTF-8";
body {
    background-color: skyblue;
}

.login-wrapper {
    /* 상하좌우 정중앙 정렬하기 */
    font-family: arial;
    font-size: 20px;
    text-align: center;
    outline: dashed 1px black;
    width: 350px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: -20px 0 0 10px;

    background-color: white;
}

table {
    margin: auto;
}