<!DOCTYPE html>

<head>
    <title>{{title}}</title>


    <link rel="stylesheet" href="/menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
</head>

<body>
    <div class="custom-font">
        <div>
            <a href="/"><img style="float: left;" src="/images/mainPage/Phuket_Logo.png" width="50" height="50"></a>

            {% if user %}
            <form action="/user/logout" method="post">
                <input name="url" type="hidden" value="{{_url}}">
                <button style="width: 120px; float: right;" type="submit">로그아웃</button>
            </form>
            {% else %}
            <form action="/user" method="post">
                <input name="_url" type="hidden" value="{{_url}}">
                <button style="width: 120px; float: right;" type="submit">로그인</button>
            </form>
            {% endif %}

            <h1>음식</h1>
        </div>

        <div class="wrap">
            <table class="menu" border="0">
                <tr class="table_cell">
                    <th class="menu_item"><a href="/menu/phuketLocation">
                            <img style="float: left;" src="/images/topBar/phuketLocation.png" width="50"
                                height="50"><br><br>푸켓 위치</a></th>
                    <th class="menu_item"><a href="/menu/transInfo"><img style="float: left;"
                                src="/images/topBar/transport.png" width="50" height="50"><br><br>항공편</a></th>
                    <th class="menu_item"><a href="/menu/accomodation"><img style="float: left;"
                                src="/images/topBar/accommodation.png" width="50" height="50"><br><br>숙소</a></th>
                    <th class="menu_item"><a href="/menu/tourist"><img style="float: left;"
                                src="/images/topBar/tourist.png" width="50" height="50"><br><br>관광지</a></th>
                    <th class="menu_item"><a href="/menu/food"><img style="float: left;" src="/images/topBar/food.png"
                                width="50" height="50"><br><br>음식</a></th>
                    <th class="menu_item"><a href="/menu/preparation"><img style="float: left;"
                                src="/images/topBar/preparation.png" width="50" height="50"><br><br>준비 사항</a></th>
                    <th class="menu_item"><a href="/menu/board"><img style="float: left;" src="/images/topBar/board.png"
                                width="50" height="50"><br><br>기타 사항</a></th>
                </tr>
            </table>
        </div>

        <br><br>

        <div class="sentence">
            <p>
                여행에서 가장 중요한 음식!<br>
                바로 몇가지를 설명하겠습니다.<br><br>
            </p>
        </div>

        <details class="sentence">
            <summary>1. 똠양꿍</summary>
            <p>
                태국의 국물요리 중 가장 유명한 음식입니다. 생강과 토마토, 레몬그라스, 팍치 등 특유의 향과 새우를 넣어 얼큰하고 시원하게 만든 국물요리 입니다.<br>
                다만 시큼한 맛이 강하여 처음 먹어보는 사람에게는 어려울 수 있으니 참고바랍니다.<br><br>

                저는 현지에서 처음 먹어봤는데 시큼한 맛이 저에게는 맞지 않았습니다.<br>

            <div class="wrap">
                <table style="width: 100%; margin-left: auto; margin-right: auto;">
                    <tr class="table_cell">
                        <th>
                            <img style="float: left; width: 30%" src="/images/food/똠양꿍.png">
                        </th>
                    </tr>
                </table>
            </div>
            </p>
        </details>

        <br><br>

        <details class="sentence">
            <summary>2. 팟타이</summary>
            <p>
                가장 유명한 태국 음식으로 한국인들에게도 엄청난 인기를 갖고있는 음식입니다.<br>
                기름에 볶은 쌀국수 위에 설익은 숙주, 말린 두부, 달걀, 파 등을 넣고 땅콩을 뿌린 음식으로,<br>
                새우를 넣으면 ‘팟 타이 꿍’ 이라고 하며, 가장 인기 있는 조합입니다.<br>
                고급 레스토랑 뿐 아니라 길거리 포장마차에서도 두루 찾아볼 수 있습니다.<br><br>

                저희는 팟타이를 가장 좋아해서 하루에 두번씩 꼭 먹었습니다.<br>

            <div class="wrap">
                <table style="width: 100%; margin-left: auto; margin-right: auto;">
                    <tr class="table_cell">
                        <th>
                            <img style="float: left; width: 30%" src="/images/food/팟타이.png">
                        </th>
                    </tr>
                </table>
            </div>
            </p>
        </details>

        <br><br>

        <details class="sentence">
            <summary>3. 뿌 팟 퐁커리</summary>
            <p>
                튀긴 게에 카레와 야챌르 넣어 볶은 요리로 해물, 코코넛 밀크, 달걀을 추가로 넣기도 합니다.<br>
                게살을 카레에 찍어먹고 남은 양념은 밥에 비벼먹는 방법이 가장 대중적이며<br>
                껍질이 얇은 게를 사용하기에 껍질까지 다 먹는 음식입니다.<br><br>

                태국 카레는 한국 카레와 맛이 비슷하여 입문하기에 좋은 음식입니다.<br><br>

                맛은 한국에서 먹었던 맛과 비슷했지만 금액은 절반이상 저렴했습니다.<br>

            <div class="wrap">
                <table style="width: 100%; margin-left: auto; margin-right: auto;">
                    <tr class="table_cell">
                        <th>
                            <img style="float: left; width: 30%" src="/images/food/뿌팟퐁커리.png">
                        </th>
                    </tr>
                </table>
            </div>
            </p>
        </details>

        <br><br>

        <details class="sentence">
            <summary>4. 모닝글로리</summary>
            <p>
                한국에서는 공심채 볶음 이라고 부르며, 미나리볶음과 비슷하게 생겨 씁슬한 맛을 낼거같아 안먹는 사람이 많지만<br>
                쓴맛은 하나도 없고 소스로 인해 달달하고 칼칼한맛이 일품인 요리이다.<br><br>

                가격이 저렴하고 맛있어 저는 메뉴판에 있을 때마다 하나씩 시켜먹었습니다. (1,200 ~ 1,400원)<br>

            <div class="wrap">
                <table style="width: 100%; margin-left: auto; margin-right: auto;">
                    <tr class="table_cell">
                        <th>
                            <img style="float: left; width: 30%" src="/images/food/모닝글로리.png">
                        </th>
                    </tr>
                </table>
            </div>
            </p>
        </details>

        <br><br>

        <details class="sentence">
            <summary>5. 카오팟</summary>
            <p>
                주재료로 새우를 넣으면 카오팟 꿍, 닭고기를 넣으면 카오팟 까이, 돼지고기를 넣으면 카오팟 무,<br>
                쇠고기를 넣으면 카오팟 느어라고 부릅니다.<br>
                같이 나오는 피시 소스를 밥에 얹어 먹으면 볶음밥의 느끼함이 사라지고 맵고 깔끔한 맛이 납니다.<br><br>

                하루에 한번씩은 먹었던 음식입니다.<br>

            <div class="wrap">
                <table style="width: 100%; margin-left: auto; margin-right: auto;">
                    <tr class="table_cell">
                        <th>
                            <img style="float: left; width: 30%" src="/images/food/카오팟.png">
                        </th>
                    </tr>
                </table>
            </div>
            </p>
        </details>

        <br><br>

        <details class="sentence">
            <summary>6. 땡모반</summary>
            <p>
                수박과 얼음, 설탕을 넣고 갈아만든 수박 스무디입니다.<br>
                땡모는 수박, 반은 블렌디를 의미합니다.<br><br>

                제가 푸켓에서 가장 먹고싶었던 음료로 하루에 3잔씩 먹었습니다.<br>
                다만 가격이 천차만별로 길거리에서는 2,000원 정도에 먹을 수 있고 레스토랑 및 호텔에선 5,000원에 먹을 수 있습니다.<br>

            <div class="wrap">
                <table style="width: 100%; margin-left: auto; margin-right: auto;">
                    <tr class="table_cell">
                        <th>
                            <img style="float: left; width: 30%" src="/images/food/땡모반.png">
                        </th>
                    </tr>
                </table>
            </div>
            </p>
        </details>
    </div>

    <br><br><br><br><br><br>
</body>

</html>