<!DOCTYPE html>
<head>
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/">메인 화면</a>
    </div>
    <div class="login-wrapper">
        <h2>Login</h2>
        <form method="post" action="/login" id="login-form">
            <input type="text" name="id" placeholder="ID">
            <input type="password" name="password" placeholder="Password">
            <label for="remember-check">
                <input type="checkbox" id="remember-check">아이디 저장하기
            </label>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>