<!DOCTYPE html>

<head>
    <title>{{title}}</title>

    
  <link rel="stylesheet" href="/menu.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <a href="/"><img style="float: left;" src="/images/mainPage/Phuket_Logo.png" width="50" height="50"></a>

        {% if user %}
        <form action="/user/logout" method="post">
      <input name="url" type="hidden" value="{{_url}}">
      <button style="width: 120px; float: right;" type="submit">로그아웃</button>
    </form>
        {% else %}
        <form action="/user" method="post">
      <input name="_url" type="hidden" value="{{_url}}">
      <button style="width: 120px; float: right;" type="submit">로그인</button>
    </form>
        {% endif %}

        <h1>준비 사항</h1>
    </div>

    <div class="wrap">
        <table class="menu" border="0">
          <tr class="table_cell">
            <th class="menu_item"><a href="/menu/phuketLocation">
              <img style="float: left;" src="/images/topBar/phuketLocation.png" width="50" height="50"><br><br>푸켓 위치</a></th>
            <th class="menu_item"><a href="/menu/transInfo"><img style="float: left;" src="/images/topBar/transport.png" width="50"
                  height="50"><br><br>항공편</a></th>
            <th class="menu_item"><a href="/menu/accomodation"><img style="float: left;" src="/images/topBar/accommodation.png" width="50"
                  height="50"><br><br>숙소</a></th>
            <th class="menu_item"><a href="/menu/tourist"><img style="float: left;" src="/images/topBar/tourist.png" width="50"
                  height="50"><br><br>관광지</a></th>
            <th class="menu_item"><a href="/menu/food"><img style="float: left;" src="/images/topBar/food.png" width="50"
                  height="50"><br><br>음식</a></th>
            <th class="menu_item"><a href="/menu/preparation"><img style="float: left;" src="/images/topBar/preparation.png" width="50"
                  height="50"><br><br>준비 사항</a></th>
            <th class="menu_item"><a href="/menu/board"><img style="float: left;" src="/images/topBar/board.png" width="50"
                  height="50"><br><br>기타 사항</a></th>
          </tr>
        </table>
    </div>

    <br><br>

    <div class="sentence">
        <p>
            머리로 하나씩 준비하다보면 빠트리는 경우가 종종있어 리스트를 만들어서 준비하는게 좋습니다.
        </p>
    </div>

    <br><br>

    <details class="sentence">
        <summary>[준비물 리스트]</summary>
        <p>
            <ul>
                <li>여권</li>
                <li>신분증</li>
                <li>현금 (GLN이 잘 되어있기 때문에 예산의 20~30%만 환전하시면 됩니다.)</li>
                <li>GLN (거의 모든 매장에서 QR로 결제가 가능하여 준비하시면 편리합니다.)</li>
                <li>선크림 및 그 외 화장품</li>
                <li>옷(여별 옷 / 속옷 / 수영복)</li>
                <li>썬글라스 (필수는 아니지만 저는 가져가서 수영장, 요트 등 이동시에 유용하게 사용했습니다.)</li>
                <li>슬리퍼 (날씨가 정말 무덥고 물속에 들어가는 경우와 비가오는 경우가 많아 슬리퍼를 신고 다니는게 좋습니다.)</li>
                <li>충전기 (220V도 사용가능해서 집에서 쓰시던거 들고가시면 됩니다.)</li>
                <li>보조베터리 (꼭 챙기셔야 합니다 꼭!)</li>
                <li>여분의 가방 (보조베터리, 선크림, 휴대폰, 현금 등을 챙겨다니기 때문에 꼭 챙기셔야 합니다.)</li>
                <li>샤워기 필터 (아무리 잘 되어있다 하지만 3일정도 쓰면 필터색이 변합니다.)</li>
                <li>드라이기 & 고데기 & 빗 (필수는 아니지만 드라이기 성능이 너무 안좋습니다.)</li>
                <li>방수케이스 (방수포켓을 많이들 쓰시는데 방수케이스가 성능이 10배는 좋습니다.)</li>
                <li>삼각대 (필수는 아니지만 여자친구나 아내분께 사랑받으실 겁니다. 사진 정말 이쁘게 나와요.)</li>
                <li>물 (준비물은 아니지만 물은 꼭 사서드세요!!)</li>
                <li>상비약 (타이네롤, 밴드, 마데카솔, 멀미약, 소화제 이렇게 5개는 꼭 챙기세요)</li>
                <li>우산 & 우비 (우산도 좋지만 우비를 추천드리고 현지에서도 판매하기에 꼭 챙길필요는 없습니다.)</li>
            </ul>
        </p>
    </details>

    <br><br>

    <details class="sentence">
        <summary>[추가사항]</summary>
        <p>
            <ul>
                <li>남자분들 나시입기 어색하실텐데 나시 최곱니다. (물론 왁싱하셔야 하구요)</li>
                <li>시밀러룩이나 커플룩 입고가시면 사진찍을 때 정말 이뻐요 많이들 입으시구요</li>
                <li>돌아올 때 케리어 무게 빡빡하게 안 잡아서 가방 여러 개로 억지로 나누시지 않아도 됩니다. 
                    저는 케리어 각각 15.4, 16.2 나왔는데 통과시켜 줬어요</li>
                <li>요트투어나 섬투어가실 때 여성분들 꼭 이쁜옷 하나 챙겨가서 갈아입고 사진찍으세요 풍경 정말 이뻐요</li>
            </ul>
        </p>
    </details>

    <br><br><br><br><br><br>
</body>

</html>