<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="/menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
</head>

<body>
    <div class="custom-font">
        <h1>게시글 수정</h1>

        <div class="sentence">
            <form action="/menu/board" method="get">
                <button style="width: 120px; float: left;" type="submit">뒤로 가기</button>
            </form>
        </div>

        <br><br>

        <div class="board">
            <form action="" method="post">
                <input type="hidden" value="{{boardId}}" name="boardId">
                <input style="width:100%; height: 30px;" type="text" name="title" placeholder="제목" value="{{title}}" required /><br><br>
                <input style="width:100%; height:300px" type="text" name="main" placeholder="본문" value="{{main}}" /><br><br>
                <button style="width:200px" type="submit">게시글 수정</button>
            </form>
        </div>
    </div>
</body>

</html>